<html>

  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	
	<script>
	
		$(function() {
			var container = $("div.container");
			container.hide();
			window.setTimeout(function(){
				container.fadeIn(2000);
			}, 1000)
			/*
			var header = $("p");
			var body = $("body");
			
			body.keypress(function() {
				header.fadeToggle();
			});
			header.click(function() {
				rotation();
			*/
		});
	</script>
	
  </head>
  
  <body>
	  <div class="container">
		  <img src="<%= @picture %>"/>
		  <p>Thomas Ring</p>
		  <p>thomasjring@me.com</p>
		  <p>(503) - 803 - 2985</p>
	  </div>
  </body>
  
</html>