* {
	font-family: Helvetica;
}

p, h1, input {
	color: #182236;
}

body {
	background: url("/bg.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	vertical-align: middle;
}

p {
	font-size: 24px;
}

input {
	font-size: 24px;
	border: none;
	border-bottom: 1px dotted #273e5a;
	background-color: transparent;
	text-align: center;
	outline: none;
}

.error {
	margin: 100px auto -120px auto;
	background: #fff;
  	color: #b23435;
	height: 60px;
	border: 10px solid #b23435;
	text-align: center;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 5;
	box-sizing:border-box;
}
.container {
	background: #578ae4;
	margin: 100px auto;
	padding: 30px 20px;
	text-align: center;
	width: 400px;
	height: 200px;
}

.error, .container {
	width: 400px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}